[submodule "PlanningApp"]
	path = PlanningApp
	url = https://github.com/Amsomeboys/PlanningApp.git
[submodule "native-app"]
	path = native-app
	url = https://github.com/Amsomeboys/native-app.git
[submodule "navi-app"]
	path = navi-app
	url = https://github.com/Amsomeboys/navi-app.git
